.searchComponentChild {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 1 0;
}

.searchIcon {
    margin-top: 6px;
}

.searchInput {
    width: 100%;
    min-width: 0;
    max-width: 500px;
    flex: 1 1 0;
}

@media (max-width: 600px) {
    .searchInput {
        max-width: 200px;
    }
}


input:focus {
    outline: none;
}