.card {
    display: block;
    width: 700px;
    height: 300px;
    background-color: antiquewhite;
    margin: 0px 16px;
}

.cardHeader {
    display: block;
    min-height: 32px;
    margin-bottom: 0.25rem;
}

.cardHeaderElements { /* this div needs to be fixed. need to wrap a header in a container, then wrap all three items in a container*/
    display: flex;
    padding-right: 6px;
    align-items: center;
    flex-wrap: wrap;
    gap: .25rem;
    font-size: .75rem;
    line-height: 1rem;
}

.cardHeaderElementsAvatarInner{
    display: inline-block; 
    width: 24px;    
    height: 24px;
    background-color: red;
    border-radius: 50%;
}
/*
inline-flex items-center justify-center w-[1.5rem] h-[1.5rem]

class="inline-block rounded-full  relative [&>:first-child]:h-full [&>:first-child]:w-full [&>:first-child]:mb-0 [&>:first-child]:rounded-[inherit] h-full w-full 



*/

