.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(0,756px) minmax(0,316px);
    gap: 1.5rem;
    max-width: 1120px;
}

.sidebar {
    position: sticky;
    top: 2rem;
    background-color: var(--color-secondary-background);
    border-radius: 1rem;
    padding: 0.5rem 0 2rem 2rem;
    margin-top: 2rem;
    align-self: start;
}

.subredditSpacing {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}