.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(0,756px) minmax(0,316px);
    gap: 1.5rem;
    max-width: 1120px;
    margin-top: 0.75rem;
}

.sidebar {
    position: sticky;
    top: 1rem;
    background-color: var(--color-secondary-background);
    border-radius: 1rem;
    align-self: start;
    width: 300px;
    margin-top: 1rem;
}

.sidebarHeader {
    padding: 0.25rem 0 0 1.75rem;
 
}

.sidebarHeader > h3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.subredditList {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0 1rem 1.5rem 1rem;
}