:root {
  font-family: -apple-system, BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-neutral-content: #333D42; /* e.g. subreddit name r/lithuania */
  --color-neutral-content-weak: #5C6C74; /*e.g. posted 21hrs ago*/
  --color-neutral-content-strong: #181C1F; /*post title*/
  --color-secondary-onBackground: #000000; /* used in buttons */
  --color-secondary-background: #E5EBEE;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
